config NFC_PN544_OEM
	tristate "Qualcomm NCI based NFC Controller Driver for NQx"
	depends on I2C
    default n
	---help---
	  This enables the NFC driver for NQx based devices.
	  This is for i2c connected version. NCI protocol logic
	  resides in the usermode and it has no other NFC dependencies.
